[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
asyncio-nats-streaming = "*"
pillow = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
